In [147]:
import pandas as pd

In [148]:
df1=pd.DataFrame( [
    {"Customer_ID":"C001", "Name":"   Ali Raza", "Join_Date":"2023/01/15", "Email":"ali@gmail .com", "Age":"25", "City":"Lahore"},
    {"Customer_ID":"C002", "Name":"sara khan ", "Join_Date":"15-02-2023", "Email":"sara@ gmail.com", "Age":"twenty", "City":"Karachi"},
    {"Customer_ID":"C003", "Name":"John  Doe", "Join_Date":"2023.03.05", "Email":"", "Age":"33 ", "City":"Islamabad"},
    {"Customer_ID":"C004", "Name":"Ayesha", "Join_Date":"03/20/23", "Email":"ayesha@", "Age":None, "City":"lahore"},
    {"Customer_ID":"C005", "Name":"   ali raza", "Join_Date":"2023/01/15", "Email":"ali@gmail.com", "Age":"25", "City":"Lahore"}, # duplicate
    {"Customer_ID":"C006", "Name":"Michael", "Join_Date":"2023/13/05", "Email":"michael.com", "Age":"40", "City":"New york"},
    {"Customer_ID":"C007", "Name":" Fatima", "Join_Date":"2023-04-10", "Email":"fatima @yahoo.com", "Age":"27", "City":""},
    {"Customer_ID":"C008", "Name":"Usman", "Join_Date":"04-31-2023", "Email":"usman@@gmail.com", "Age":"29", "City":"Karachi"},
    {"Customer_ID":"C009", "Name":"  hamza", "Join_Date":"2023/05/05", "Email":None, "Age":"30 years", "City":"lahore "},
    {"Customer_ID":"C010", "Name":"hira", "Join_Date":"2023-06-01", "Email":"", "Age":"", "City":"Quetta"},

    {"Customer_ID":"C011", "Name":"abdullah ", "Join_Date":"2023/07/05", "Email":"abdullah.com", "Age":"19", "City":" Multan"},
    {"Customer_ID":"C012", "Name":"Mariam", "Join_Date":"7-15-23", "Email":"mariam@ gmail.com", "Age":"21.5", "City":"Karacchi"},
    {"Customer_ID":"C013", "Name":"Tom  ", "Join_Date":"2023.08.01", "Email":"tom@", "Age":"26", "City":"New York"},
    {"Customer_ID":"C014", "Name":"Zara", "Join_Date":"2023/08/32", "Email":"zara@", "Age":None, "City":"Lahor"},
    {"Customer_ID":"C015", "Name":"Bilal", "Join_Date":"25/09/2023", "Email":"bilal @hotmail.com", "Age":"27", "City":" Islamabad"},

    {"Customer_ID":"C016", "Name":"  Sana  ", "Join_Date":"2023-10-05", "Email":"sana@gmail", "Age":"28 ", "City":"Karachi"},
    {"Customer_ID":"C017", "Name":"David", "Join_Date":"2023/11/10", "Email":"david@@gmail.com", "Age":"35", "City":"New York"},
    {"Customer_ID":"C018", "Name":"Hassan", "Join_Date":"Nov 12 2023", "Email":"hassan@", "Age":"twenty eight", "City":" Lahore"},
    {"Customer_ID":"C019", "Name":"sam ", "Join_Date":"2023/13/11", "Email":"sam@ gmail.com", "Age":None, "City":"Karachi"},
    {"Customer_ID":"C020", "Name":"  Ali", "Join_Date":"2023/01/15", "Email":"ali@gmail.com", "Age":"25 ", "City":"Lahore"} # duplicate-like
])

In [149]:
df1

,Customer_ID,Name,Join_Date,Email,Age,City
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore
1,C002,sara khan,15-02-2023,sara@ gmail.com,twenty,Karachi
2,C003,John Doe,2023.03.05,,33,Islamabad
3,C004,Ayesha,03/20/23,ayesha@,None,lahore
4,C005,ali raza,2023/01/15,ali@gmail.com,25,Lahore
5,C006,Michael,2023/13/05,michael.com,40,New york
6,C007,Fatima,2023-04-10,fatima @yahoo.com,27,
7,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi
8,C009,hamza,2023/05/05,None,30 years,lahore
9,C010,hira,2023-06-01,,,Quetta
10,C011,abdullah,2023/07/05,abdullah.com,19,Multan
11,C012,Mariam,7-15-23,mariam@ gmail.com,21.5,Karacchi
12,C013,Tom,2023.08.01,tom@,26,New York
13,C014,Zara,2023/08/32,zara@,None,Lahor
14,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad
15,C016,Sana,2023-10-05,sana@gmail,28,Karachi
16,C017,David,2023/11/10,david@@gmail.com,35,New York
17,C018,Hassan,Nov 12 2023,hassan@,twenty eight,Lahore
18,C019,sam,2023/13/11,sam@ gmail.com,None,Karachi
19,C020,Ali,2023/01/15,ali@gmail.com,25,Lahore

In [150]:
df2=pd.DataFrame([
    {"Order_ID":"O001", "Customer_ID":"C001", "Date":"2023/02/05", "Product":"Laptop", "Quantity":"1", "Price":"1200"},
    {"Order_ID":"O002", "Customer_ID":"C002", "Date":"05-03-23", "Product":"Mobile", "Quantity":"two", "Price":"300"},
    {"Order_ID":"O003", "Customer_ID":"C003", "Date":"2023.03.10", "Product":"", "Quantity":"1", "Price":"150"},
    {"Order_ID":"O004", "Customer_ID":"C004", "Date":"2023/14/03", "Product":"Headphones", "Quantity":None, "Price":"50"},
    {"Order_ID":"O005", "Customer_ID":"C005 ", "Date":"2023/03/15", "Product":"Laptop  ", "Quantity":"1 ", "Price":" 1200"},

    {"Order_ID":"O006", "Customer_ID":"C006", "Date":"03-25-2023", "Product":"Keyboard", "Quantity":"3", "Price":"30"},
    {"Order_ID":"O007", "Customer_ID":"C007", "Date":"2023-03-30", "Product":"Mouse", "Quantity":"-1", "Price":"20"}, # negative quantity
    {"Order_ID":"O008", "Customer_ID":"C008", "Date":"2023/04/05", "Product":" Charger", "Quantity":"1", "Price":"ten"},
    {"Order_ID":"O009", "Customer_ID":"C009", "Date":"04-10-23", "Product":"Tablet", "Quantity":"1", "Price":None},
    {"Order_ID":"O010", "Customer_ID":"C010", "Date":"2023/04/15", "Product":"Laptop", "Quantity":"1", "Price":"1200"},

    {"Order_ID":"O011", "Customer_ID":"C011", "Date":"2023/05/02", "Product":"Mobile", "Quantity":"2", "Price":"300"},
    {"Order_ID":"O012", "Customer_ID":"C012", "Date":"2023/05/02", "Product":"Mobile", "Quantity":"2", "Price":"300"}, # duplicate
    {"Order_ID":"O013", "Customer_ID":"C013", "Date":"2023.05.10", "Product":"Smart Watch", "Quantity":"1", "Price":"80"},
    {"Order_ID":"O014", "Customer_ID":"C014", "Date":"2023/05/15", "Product":"Laptop", "Quantity":"0", "Price":"1200"}, # zero quantity
    {"Order_ID":"O015", "Customer_ID":"C015", "Date":"InvalidDate", "Product":"Keyboard", "Quantity":"1", "Price":"30"},

    {"Order_ID":"O016", "Customer_ID":"C016", "Date":"2023/06/05", "Product":"Laptop", "Quantity":"1", "Price":"1200"},
    {"Order_ID":"O017", "Customer_ID":"C017", "Date":"2023/06/10", "Product":"Mobile", "Quantity":None, "Price":"300"},
    {"Order_ID":"O018", "Customer_ID":"C018", "Date":"2023/06/12", "Product":None, "Quantity":"1", "Price":"150"},
    {"Order_ID":"O019", "Customer_ID":"C019", "Date":"12/06/2023", "Product":"Mouse", "Quantity":"1", "Price":"20"},
    {"Order_ID":"O020", "Customer_ID":" C001", "Date":"2023/02/05", "Product":"Laptop", "Quantity":"1", "Price":"1200"} # duplicate-like
])

In [151]:
df2

   Order_ID Customer_ID         Date      Product Quantity  Price
0      O001        C001   2023/02/05       Laptop        1   1200
1      O002        C002     05-03-23       Mobile      two    300
2      O003        C003   2023.03.10                     1    150
3      O004        C004   2023/14/03   Headphones     None     50
4      O005       C005    2023/03/15     Laptop         1    1200
5      O006        C006   03-25-2023     Keyboard        3     30
6      O007        C007   2023-03-30        Mouse       -1     20
7      O008        C008   2023/04/05      Charger        1    ten
8      O009        C009     04-10-23       Tablet        1   None
9      O010        C010   2023/04/15       Laptop        1   1200
10     O011        C011   2023/05/02       Mobile        2    300
11     O012        C012   2023/05/02       Mobile        2    300
12     O013        C013   2023.05.10  Smart Watch        1     80
13     O014        C014   2023/05/15       Laptop        0   1200
14     O015        C015  InvalidDate     Keyboard        1     30
15     O016        C016   2023/06/05       Laptop        1   1200
16     O017        C017   2023/06/10       Mobile     None    300
17     O018        C018   2023/06/12         None        1    150
18     O019        C019   12/06/2023        Mouse        1     20
19     O020        C001   2023/02/05       Laptop        1   1200

In [152]:
merge_df=pd.merge(df1,df2,on="Customer_ID")

In [153]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1,1200
1,C002,sara khan,15-02-2023,sara@ gmail.com,twenty,Karachi,O002,05-03-23,Mobile,two,300
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1,150
3,C004,Ayesha,03/20/23,ayesha@,None,lahore,O004,2023/14/03,Headphones,None,50
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3,30
5,C007,Fatima,2023-04-10,fatima @yahoo.com,27,,O007,2023-03-30,Mouse,-1,20
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1,ten
7,C009,hamza,2023/05/05,None,30 years,lahore,O009,04-10-23,Tablet,1,None
8,C010,hira,2023-06-01,,,Quetta,O010,2023/04/15,Laptop,1,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21.5,Karacchi,O012,2023/05/02,Mobile,2,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1,80
12,C014,Zara,2023/08/32,zara@,None,Lahor,O014,2023/05/15,Laptop,0,1200
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1,1200
15,C017,David,2023/11/10,david@@gmail.com,35,New York,O017,2023/06/10,Mobile,None,300
16,C018,Hassan,Nov 12 2023,hassan@,twenty eight,Lahore,O018,2023/06/12,None,1,150
17,C019,sam,2023/13/11,sam@ gmail.com,None,Karachi,O019,12/06/2023,Mouse,1,20

In [154]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  18 non-null     object
 1   Name         18 non-null     object
 2   Join_Date    18 non-null     object
 3   Email        17 non-null     object
 4   Age          15 non-null     object
 5   City         18 non-null     object
 6   Order_ID     18 non-null     object
 7   Date         18 non-null     object
 8   Product      17 non-null     object
 9   Quantity     16 non-null     object
 10  Price        17 non-null     object
dtypes: object(11)
memory usage: 1.7+ KB

In [155]:
merge_df.duplicated().sum()

np.int64(0)

In [156]:
merge_df["Customer_ID"].duplicated().sum()

np.int64(0)

In [157]:
merge_df.isna().sum()

Customer_ID    0
Name           0
Join_Date      0
Email          1
Age            3
City           0
Order_ID       0
Date           0
Product        1
Quantity       2
Price          1
dtype: int64

In [158]:
merge_df["Age"]

0               25
1           twenty
2              33
3             None
4               40
5               27
6               29
7         30 years
8
9               19
10            21.5
11              26
12            None
13              27
14             28
15              35
16    twenty eight
17            None
Name: Age, dtype: object

In [159]:
merge_df[merge_df["Age"]=="twenty"]=20

In [160]:
merge_df[merge_df["Age"]=="30 years"]=30

In [161]:
merge_df[merge_df["Age"]=="twenty eight"]=28

In [162]:
merge_df["Age"]

0       25
1       20
2      33
3     None
4       40
5       27
6       29
7       30
8
9       19
10    21.5
11      26
12    None
13      27
14     28
15      35
16      28
17    None
Name: Age, dtype: object

In [163]:
merge_df["Age"]=pd.to_numeric(merge_df["Age"],errors="coerce")

In [164]:
a=merge_df["Age"].mean()

In [165]:
a

np.float64(27.75)

In [166]:
merge_df["Age"]=merge_df["Age"].fillna(a)

In [167]:
merge_df["Age"]=merge_df["Age"].astype(int)

In [168]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1,1200
1,20,20,20,20,20,20,20,20,20,20,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1,150
3,C004,Ayesha,03/20/23,ayesha@,27,lahore,O004,2023/14/03,Headphones,None,50
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3,30
5,C007,Fatima,2023-04-10,fatima @yahoo.com,27,,O007,2023-03-30,Mouse,-1,20
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1,ten
7,30,30,30,30,30,30,30,30,30,30,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1,80
12,C014,Zara,2023/08/32,zara@,27,Lahor,O014,2023/05/15,Laptop,0,1200
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1,1200
15,C017,David,2023/11/10,david@@gmail.com,35,New York,O017,2023/06/10,Mobile,None,300
16,28,28,28,28,28,28,28,28,28,28,28
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1,20

In [169]:
merge_df["Age"]

0     25
1     20
2     33
3     27
4     40
5     27
6     29
7     30
8     27
9     19
10    21
11    26
12    27
13    27
14    28
15    35
16    28
17    27
Name: Age, dtype: int64

In [170]:
merge_df["Age"].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
Name: Age, dtype: bool

In [171]:
merge_df["Age"].isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
Name: Age, dtype: bool

In [172]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  18 non-null     object
 1   Name         18 non-null     object
 2   Join_Date    18 non-null     object
 3   Email        18 non-null     object
 4   Age          18 non-null     int64
 5   City         18 non-null     object
 6   Order_ID     18 non-null     object
 7   Date         18 non-null     object
 8   Product      18 non-null     object
 9   Quantity     16 non-null     object
 10  Price        18 non-null     object
dtypes: int64(1), object(10)
memory usage: 1.7+ KB

In [173]:
merge_df.isna().sum()

Customer_ID    0
Name           0
Join_Date      0
Email          0
Age            0
City           0
Order_ID       0
Date           0
Product        0
Quantity       2
Price          0
dtype: int64

In [174]:
merge_df.isnull().sum()

Customer_ID    0
Name           0
Join_Date      0
Email          0
Age            0
City           0
Order_ID       0
Date           0
Product        0
Quantity       2
Price          0
dtype: int64

In [175]:
merge_df["Quantity"]

0        1
1       20
2        1
3     None
4        3
5       -1
6        1
7       30
8        1
9        2
10       2
11       1
12       0
13       1
14       1
15    None
16      28
17       1
Name: Quantity, dtype: object

In [176]:
merge_df=merge_df.dropna(subset=["Quantity"])

In [177]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1,1200
1,20,20,20,20,20,20,20,20,20,20,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1,150
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3,30
5,C007,Fatima,2023-04-10,fatima @yahoo.com,27,,O007,2023-03-30,Mouse,-1,20
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1,ten
7,30,30,30,30,30,30,30,30,30,30,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1,80
12,C014,Zara,2023/08/32,zara@,27,Lahor,O014,2023/05/15,Laptop,0,1200
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1,1200
16,28,28,28,28,28,28,28,28,28,28,28
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1,20

In [178]:
import numpy as np

In [179]:
merge_df["Quantity"]=pd.to_numeric(merge_df["Quantity"],errors="coerce")

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1213238326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df["Quantity"]=pd.to_numeric(merge_df["Quantity"],errors="coerce")

In [180]:
merge_df.loc[merge_df["Quantity"]==-1,"Quantity"]=np.nan

In [181]:
merge_df.loc[merge_df["Quantity"]==0,"Quantity"]=np.nan

In [182]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20,20,20,20,20,20.0,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1.0,150
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3.0,30
5,C007,Fatima,2023-04-10,fatima @yahoo.com,27,,O007,2023-03-30,Mouse,NaN,20
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1.0,ten
7,30,30,30,30,30,30,30,30,30,30.0,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1.0,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1.0,80
12,C014,Zara,2023/08/32,zara@,27,Lahor,O014,2023/05/15,Laptop,NaN,1200
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1.0,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1.0,1200
16,28,28,28,28,28,28,28,28,28,28.0,28
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1.0,20

In [183]:
merge_df=merge_df.dropna(subset=["Quantity"])

In [184]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20,20,20,20,20,20.0,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1.0,150
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3.0,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1.0,ten
7,30,30,30,30,30,30,30,30,30,30.0,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1.0,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1.0,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1.0,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1.0,1200
16,28,28,28,28,28,28,28,28,28,28.0,28
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1.0,20

In [185]:
merge_df["Quantity"]=merge_df["Quantity"].astype(int)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\2885072749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df["Quantity"]=merge_df["Quantity"].astype(int)

In [186]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1,1200
1,20,20,20,20,20,20,20,20,20,20,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1,150
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1,ten
7,30,30,30,30,30,30,30,30,30,30,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1,1200
16,28,28,28,28,28,28,28,28,28,28,28
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1,20

In [187]:
merge_df.loc[merge_df["Name"]==28,"Customer_ID"]=np.nan

In [188]:
merge_df=merge_df.rename(columns={False:"H"})

In [189]:
del(merge_df["H"])

KeyError: 'H'

In [190]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1,1200
1,20,20,20,20,20,20,20,20,20,20,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1,150
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1,ten
7,30,30,30,30,30,30,30,30,30,30,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1,1200
16,NaN,28,28,28,28,28,28,28,28,28,28
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1,20

In [191]:
merge_df.dtypes

Customer_ID    object
Name           object
Join_Date      object
Email          object
Age             int64
City           object
Order_ID       object
Date           object
Product        object
Quantity        int64
Price          object
dtype: object

In [192]:
merge_df=merge_df.dropna(subset=["Customer_ID"])

In [193]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25,Lahore,O001,2023/02/05,Laptop,1,1200
1,20,20,20,20,20,20,20,20,20,20,20
2,C003,John Doe,2023.03.05,,33,Islamabad,O003,2023.03.10,,1,150
4,C006,Michael,2023/13/05,michael.com,40,New york,O006,03-25-2023,Keyboard,3,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29,Karachi,O008,2023/04/05,Charger,1,ten
7,30,30,30,30,30,30,30,30,30,30,30
8,C010,hira,2023-06-01,,27,Quetta,O010,2023/04/15,Laptop,1,1200
9,C011,abdullah,2023/07/05,abdullah.com,19,Multan,O011,2023/05/02,Mobile,2,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21,Karacchi,O012,2023/05/02,Mobile,2,300
11,C013,Tom,2023.08.01,tom@,26,New York,O013,2023.05.10,Smart Watch,1,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27,Islamabad,O015,InvalidDate,Keyboard,1,30
14,C016,Sana,2023-10-05,sana@gmail,28,Karachi,O016,2023/06/05,Laptop,1,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27,Karachi,O019,12/06/2023,Mouse,1,20

In [194]:
merge_df[merge_df["Email"]==""]=np.nan

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1878450739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df[merge_df["Email"]==""]=np.nan

In [196]:
merge_df=merge_df.dropna(subset=["Email"])

In [197]:
merge_df.loc[merge_df["Email"]=="abdullah.com","Email"]="abdullah@gmail.com"

In [198]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20.0,20,20,20,20,20.0,20
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03-25-2023,Keyboard,3.0,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,ten
7,30,30,30,30,30.0,30,30,30,30,30.0,30
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023.08.01,tom@,26.0,New York,O013,2023.05.10,Smart Watch,1.0,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27.0,Islamabad,O015,InvalidDate,Keyboard,1.0,30
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [199]:
merge_df.loc[merge_df["Price"]=="ten","Price"]="10"

In [200]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20.0,20,20,20,20,20.0,20
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03-25-2023,Keyboard,3.0,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
7,30,30,30,30,30.0,30,30,30,30,30.0,30
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023.08.01,tom@,26.0,New York,O013,2023.05.10,Smart Watch,1.0,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27.0,Islamabad,O015,InvalidDate,Keyboard,1.0,30
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [201]:
merge_df.loc[merge_df["Date"]=="InvalidDate","Date"]=np.nan

In [202]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20.0,20,20,20,20,20.0,20
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03-25-2023,Keyboard,3.0,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
7,30,30,30,30,30.0,30,30,30,30,30.0,30
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023.08.01,tom@,26.0,New York,O013,2023.05.10,Smart Watch,1.0,80
13,C015,Bilal,25/09/2023,bilal @hotmail.com,27.0,Islamabad,O015,NaN,Keyboard,1.0,30
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [203]:
merge_df=merge_df.dropna(subset=["Date"])

In [204]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20.0,20,20,20,20,20.0,20
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03-25-2023,Keyboard,3.0,30
6,C008,Usman,04-31-2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
7,30,30,30,30,30.0,30,30,30,30,30.0,30
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7-15-23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023.08.01,tom@,26.0,New York,O013,2023.05.10,Smart Watch,1.0,80
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [205]:
merge_df["Join_Date"].str.replace(r'^1-10',"-",regex=False)

0     2023/01/15
1            NaN
4     2023/13/05
6     04-31-2023
7            NaN
9     2023/07/05
10       7-15-23
11    2023.08.01
14    2023-10-05
17    2023/13/11
Name: Join_Date, dtype: object

In [206]:
merge_df['Join_Date'] = merge_df['Join_Date'].astype(str).str.strip()

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\644419582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['Join_Date'] = merge_df['Join_Date'].astype(str).str.strip()

In [207]:
merge_df['Join_Date'] = merge_df['Join_Date'].str.replace(r'[-.]', '/', regex=True)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\2402445475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df['Join_Date'] = merge_df['Join_Date'].str.replace(r'[-.]', '/', regex=True)

In [208]:
bb=merge_df

In [209]:
pd.to_datetime(merge_df["Join_Date"],errors="coerce",dayfirst=True)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\841143572.py:1: UserWarning: Parsing dates in %Y/%m/%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  pd.to_datetime(merge_df["Join_Date"],errors="coerce",dayfirst=True)

0    2023-01-15
1           NaT
4           NaT
6           NaT
7           NaT
9    2023-07-05
10          NaT
11   2023-08-01
14   2023-10-05
17          NaT
Name: Join_Date, dtype: datetime64[ns]

In [210]:
merge_df = merge_df.dropna(subset=['Join_Date'])

In [211]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20.0,20,20,20,20,20.0,20
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03-25-2023,Keyboard,3.0,30
6,C008,Usman,04/31/2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
7,30,30,30,30,30.0,30,30,30,30,30.0,30
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7/15/23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023/08/01,tom@,26.0,New York,O013,2023.05.10,Smart Watch,1.0,80
14,C016,Sana,2023/10/05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [212]:
merge_df["Date"].astype(str).str.strip()

0     2023/02/05
1             20
4     03-25-2023
6     2023/04/05
7             30
9     2023/05/02
10    2023/05/02
11    2023.05.10
14    2023/06/05
17    12/06/2023
Name: Date, dtype: object

In [213]:
merge_df["Date"]=merge_df["Date"].str.replace(r'[-.]',"/",regex=True)

In [214]:
pd.to_datetime(merge_df["Date"],errors="coerce",dayfirst=False)

0    2023-02-05
1           NaT
4           NaT
6    2023-04-05
7           NaT
9    2023-05-02
10   2023-05-02
11   2023-05-10
14   2023-06-05
17          NaT
Name: Date, dtype: datetime64[ns]

In [215]:
pd.to_datetime(bb["Date"],errors="coerce",infer_datetime_format=True)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\2203984091.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(bb["Date"],errors="coerce",infer_datetime_format=True)

0    2023-02-05
1           NaT
4           NaT
6    2023-04-05
7           NaT
9    2023-05-02
10   2023-05-02
11          NaT
14   2023-06-05
17          NaT
Name: Date, dtype: datetime64[ns]

In [216]:
bb=merge_df

In [217]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
1,20,20,20,20,20.0,20,20,NaN,20,20.0,20
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03/25/2023,Keyboard,3.0,30
6,C008,Usman,04/31/2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
7,30,30,30,30,30.0,30,30,NaN,30,30.0,30
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7/15/23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023/08/01,tom@,26.0,New York,O013,2023/05/10,Smart Watch,1.0,80
14,C016,Sana,2023/10/05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [218]:
merge_df=merge_df.dropna(subset=["Date"])

In [219]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
4,C006,Michael,2023/13/05,michael.com,40.0,New york,O006,03/25/2023,Keyboard,3.0,30
6,C008,Usman,04/31/2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7/15/23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023/08/01,tom@,26.0,New York,O013,2023/05/10,Smart Watch,1.0,80
14,C016,Sana,2023/10/05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [220]:
merge_df.loc[merge_df["Email"]=="michael.com","Email"]="michael@gmail.com"

In [221]:
merge_df.loc[merge_df["Email"]=="tom@","Email"]="tom@gmail.com"

In [222]:
merge_df

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
4,C006,Michael,2023/13/05,michael@gmail.com,40.0,New york,O006,03/25/2023,Keyboard,3.0,30
6,C008,Usman,04/31/2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7/15/23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023/08/01,tom@gmail.com,26.0,New York,O013,2023/05/10,Smart Watch,1.0,80
14,C016,Sana,2023/10/05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [253]:
bb=merge_df

In [230]:
pd.to_datetime(bb["Date"],errors="coerce",infer_datetime_format=True)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\2203984091.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(bb["Date"],errors="coerce",infer_datetime_format=True)

0    2023-02-05
4           NaT
6    2023-04-05
9    2023-05-02
10   2023-05-02
11   2023-05-10
14   2023-06-05
17          NaT
Name: Date, dtype: datetime64[ns]

In [238]:
bb["Date"] = bb["Date"].astype(str).str.strip()

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\874154779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Date"] = bb["Date"].astype(str).str.strip()

In [239]:
bb["Date"] = bb["Date"].str.replace(r'[-.]', '/', regex=True)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1326436355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Date"] = bb["Date"].str.replace(r'[-.]', '/', regex=True)

In [229]:
bb

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023/01/15,ali@gmail .com,25.0,Lahore,O001,2023/02/05,Laptop,1.0,1200
4,C006,Michael,2023/13/05,michael@gmail.com,40.0,New york,O006,03/25/2023,Keyboard,3.0,30
6,C008,Usman,04/31/2023,usman@@gmail.com,29.0,Karachi,O008,2023/04/05,Charger,1.0,10
9,C011,abdullah,2023/07/05,abdullah@gmail.com,19.0,Multan,O011,2023/05/02,Mobile,2.0,300
10,C012,Mariam,7/15/23,mariam@ gmail.com,21.0,Karacchi,O012,2023/05/02,Mobile,2.0,300
11,C013,Tom,2023/08/01,tom@gmail.com,26.0,New York,O013,2023/05/10,Smart Watch,1.0,80
14,C016,Sana,2023/10/05,sana@gmail,28.0,Karachi,O016,2023/06/05,Laptop,1.0,1200
17,C019,sam,2023/13/11,sam@ gmail.com,27.0,Karachi,O019,12/06/2023,Mouse,1.0,20

In [242]:
def parse_date(x):
    for fmt in ("%Y/%m/%d", "%m/%d/%Y", "%d/%m/%Y", "%m/%d/%y", "%d-%m-%Y", "%Y-%m-%d"):
        try:
            return pd.to_datetime(x, format=fmt)
        except:
            pass
    return np.nan

In [245]:
bb["Date"]=bb["Date"].apply(parse_date)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\3720164763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Date"]=bb["Date"].apply(parse_date)

In [246]:
bb["Join_Date"]=bb["Join_Date"].apply(parse_date)

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1617480203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Join_Date"]=bb["Join_Date"].apply(parse_date)

In [247]:
bb

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023-01-15,ali@gmail .com,25.0,Lahore,O001,2023-02-05,Laptop,1.0,1200
4,C006,Michael,NaT,michael@gmail.com,40.0,New york,O006,2023-03-25,Keyboard,3.0,30
6,C008,Usman,NaT,usman@@gmail.com,29.0,Karachi,O008,2023-04-05,Charger,1.0,10
9,C011,abdullah,2023-07-05,abdullah@gmail.com,19.0,Multan,O011,2023-05-02,Mobile,2.0,300
10,C012,Mariam,2023-07-15,mariam@ gmail.com,21.0,Karacchi,O012,2023-05-02,Mobile,2.0,300
11,C013,Tom,2023-08-01,tom@gmail.com,26.0,New York,O013,2023-05-10,Smart Watch,1.0,80
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023-06-05,Laptop,1.0,1200
17,C019,sam,NaT,sam@ gmail.com,27.0,Karachi,O019,2023-12-06,Mouse,1.0,20

In [256]:
bb.loc[bb["Join_Date"]=="2023/13/11","Join_Date"]="2023/11/13"

In [255]:
bb

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price
0,C001,Ali Raza,2023-01-15,ali@gmail .com,25.0,Lahore,O001,2023-02-05,Laptop,1.0,1200
4,C006,Michael,NaT,michael@gmail.com,40.0,New york,O006,2023-03-25,Keyboard,3.0,30
6,C008,Usman,NaT,usman@@gmail.com,29.0,Karachi,O008,2023-04-05,Charger,1.0,10
9,C011,abdullah,2023-07-05,abdullah@gmail.com,19.0,Multan,O011,2023-05-02,Mobile,2.0,300
10,C012,Mariam,2023-07-15,mariam@ gmail.com,21.0,Karacchi,O012,2023-05-02,Mobile,2.0,300
11,C013,Tom,2023-08-01,tom@gmail.com,26.0,New York,O013,2023-05-10,Smart Watch,1.0,80
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023-06-05,Laptop,1.0,1200
17,C019,sam,NaT,sam@ gmail.com,27.0,Karachi,O019,2023-12-06,Mouse,1.0,20

In [257]:
bb["Day"] = bb["Date"].dt.day
bb["Month"] = bb["Date"].dt.month
bb["Year"] = bb["Date"].dt.year

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1931094305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Day"] = bb["Date"].dt.day
C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1931094305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Month"] = bb["Date"].dt.month
C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\1931094305.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Year"] = bb["Date"].dt.year

In [258]:
bb

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price,Day,Month,Year
0,C001,Ali Raza,2023-01-15,ali@gmail .com,25.0,Lahore,O001,2023-02-05,Laptop,1.0,1200,5,2,2023
4,C006,Michael,NaT,michael@gmail.com,40.0,New york,O006,2023-03-25,Keyboard,3.0,30,25,3,2023
6,C008,Usman,NaT,usman@@gmail.com,29.0,Karachi,O008,2023-04-05,Charger,1.0,10,5,4,2023
9,C011,abdullah,2023-07-05,abdullah@gmail.com,19.0,Multan,O011,2023-05-02,Mobile,2.0,300,2,5,2023
10,C012,Mariam,2023-07-15,mariam@ gmail.com,21.0,Karacchi,O012,2023-05-02,Mobile,2.0,300,2,5,2023
11,C013,Tom,2023-08-01,tom@gmail.com,26.0,New York,O013,2023-05-10,Smart Watch,1.0,80,10,5,2023
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023-06-05,Laptop,1.0,1200,5,6,2023
17,C019,sam,NaT,sam@ gmail.com,27.0,Karachi,O019,2023-12-06,Mouse,1.0,20,6,12,2023

In [263]:
bb["Day_Name"] = bb["Date"].dt.day_name()

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\929465053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["Day_Name"] = bb["Date"].dt.day_name()

In [260]:
bb

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price,Day,Month,Year,Day_Name
0,C001,Ali Raza,2023-01-15,ali@gmail .com,25.0,Lahore,O001,2023-02-05,Laptop,1.0,1200,5,2,2023,Sunday
4,C006,Michael,NaT,michael@gmail.com,40.0,New york,O006,2023-03-25,Keyboard,3.0,30,25,3,2023,Saturday
6,C008,Usman,NaT,usman@@gmail.com,29.0,Karachi,O008,2023-04-05,Charger,1.0,10,5,4,2023,Wednesday
9,C011,abdullah,2023-07-05,abdullah@gmail.com,19.0,Multan,O011,2023-05-02,Mobile,2.0,300,2,5,2023,Tuesday
10,C012,Mariam,2023-07-15,mariam@ gmail.com,21.0,Karacchi,O012,2023-05-02,Mobile,2.0,300,2,5,2023,Tuesday
11,C013,Tom,2023-08-01,tom@gmail.com,26.0,New York,O013,2023-05-10,Smart Watch,1.0,80,10,5,2023,Wednesday
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023-06-05,Laptop,1.0,1200,5,6,2023,Monday
17,C019,sam,NaT,sam@ gmail.com,27.0,Karachi,O019,2023-12-06,Mouse,1.0,20,6,12,2023,Wednesday

In [264]:
bb["MONTH_Name"] = bb["Date"].dt.month_name()

C:\Users\Shah\AppData\Local\Temp\ipykernel_21208\517716023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb["MONTH_Name"] = bb["Date"].dt.month_name()

In [265]:
bb

,Customer_ID,Name,Join_Date,Email,Age,City,Order_ID,Date,Product,Quantity,Price,Day,Month,Year,Day_Name,MONTH_Name
0,C001,Ali Raza,2023-01-15,ali@gmail .com,25.0,Lahore,O001,2023-02-05,Laptop,1.0,1200,5,2,2023,Sunday,February
4,C006,Michael,NaT,michael@gmail.com,40.0,New york,O006,2023-03-25,Keyboard,3.0,30,25,3,2023,Saturday,March
6,C008,Usman,NaT,usman@@gmail.com,29.0,Karachi,O008,2023-04-05,Charger,1.0,10,5,4,2023,Wednesday,April
9,C011,abdullah,2023-07-05,abdullah@gmail.com,19.0,Multan,O011,2023-05-02,Mobile,2.0,300,2,5,2023,Tuesday,May
10,C012,Mariam,2023-07-15,mariam@ gmail.com,21.0,Karacchi,O012,2023-05-02,Mobile,2.0,300,2,5,2023,Tuesday,May
11,C013,Tom,2023-08-01,tom@gmail.com,26.0,New York,O013,2023-05-10,Smart Watch,1.0,80,10,5,2023,Wednesday,May
14,C016,Sana,2023-10-05,sana@gmail,28.0,Karachi,O016,2023-06-05,Laptop,1.0,1200,5,6,2023,Monday,June
17,C019,sam,NaT,sam@ gmail.com,27.0,Karachi,O019,2023-12-06,Mouse,1.0,20,6,12,2023,Wednesday,December

In [267]:
group=bb.groupby("Name")

In [272]:
group["Age"]

In [279]:
    12group["Product""Price"].sum()

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.